  .App {
  	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
  }

  main {
  	flex: 1 0 auto;
  }
  
  @keyframes appears {
  	0%{
  		opacity: 0;
  	}
  	100%{
  		opacity: 1;
  	}
  }
  .animated {
  	animation: appears 2s
  }
